In [4]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [5]:
df = pd.read_csv("homeprices.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [10]:
import math
median_bedrooms = math.floor(df.bedrooms.median())
median_bedrooms

3

In [14]:
df.bedrooms = df.bedrooms.fillna(median_bedrooms)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [36]:
features = ['area', 'bedrooms', 'age']
X = df[features]
y = df.price

In [37]:
model = linear_model.LinearRegression()
model.fit(X, y)

LinearRegression()

In [38]:
model.coef_

array([   137.25, -26025.  ,  -6825.  ])

In [39]:
model.intercept_

383724.9999999998

In [40]:
d = pd.read_csv("test.csv")
d

   area  bedrooms  age
0  2500         4   10
1  3400         2   30
2  3600         4   40
3  4000         5   50
4  4200         1   80

In [107]:
p = model.predict(d[features])
d['prices'] = p
d

   area  bedrooms  age    prices
0  2500         4   10  554500.0
1  3400         2   30  593575.0
2  3600         4   40  500725.0
3  4000         5   50  461350.0
4  4200         1   80  388150.0